<a href="https://colab.research.google.com/github/ruthiang/Ruth_data690/blob/main/assignment_05/Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [1785387, 2833687, 3874437, 2167744, 4602367, 2950039, 17348075],
    'Surface Area': [9984670, 640679, 357114, 301336, 377930, 242495, 9525067],
    'HDI': [0.913, 0.888, 0.916, 0.873, 0.891, 0.907, 0.915],
    'Continent': ['America', 'Europe', 'Europe','Europe','Asia','Europe','America']}, 
    columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [ ]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [ ]:
df.index = ['Canada','France','Germany', 'Italy','Japan','United Kingdom','United States',]

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [ ]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 636.0+ bytes

In [ ]:
df.size

35

In [ ]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [ ]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [ ]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

## Indexing, Selection and Slicing
### Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a series.

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.loc["Canada"]   #lets us select individual rows(index)

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]          #lets us selects rows y sequential position

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df["Population"]    #entire column population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df["Population"].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [ ]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [ ]:
df.loc['France': 'Italy', 'Population'] #italy and france, but only population

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [ ]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df.iloc[[0, 1, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[1:3]   #upper limit not included

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [ ]:
df.iloc[1:3, [0, 3]]    #countries 1-3, 4th column and index 2,3

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [ ]:
df.iloc[1:3, 1:3]

# Alwways use loc and ilox to reduce ambiguity
# especially with DataFrames with numberic indexes

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

## Conditional selection (boolean arrays)

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [ ]:
df.loc[df['Population'] > 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

## Dropping stuff

In [ ]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(columns=['Population', 'HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Italy', 'Canada'], axis=0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Population', 'HDI'], axis='columns')

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Canada', 'Germany'], axis='rows')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

## Operations

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[['Population', 'GDP']] / 100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

In [ ]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis
# subtract -0.3 from HDI and -1000000 from gdp

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
df[['GDP', 'HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [ ]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

## Modifying Dataframes

In [ ]:
#Adding a new column

langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

In [ ]:
langs    #fill in values for those that only exist, NaN for those that don't

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [ ]:
df['Language'] = langs   #modifying underlying frame

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
df['Language'] = 'English'  #replacing values per column

df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

In [ ]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

         Population       GDP  ...  Continent  Language
Canada       35.467   1785387  ...    America   English
France       63.951   2833687  ...     Europe   English
Germany      80.940   3874437  ...     Europe   English
Italy        60.665   2167744  ...     Europe   English
Japan       127.061   4602367  ...       Asia   English
UK           64.511   2950039  ...     Europe   English
USA         318.523  17348075  ...    America   English

[7 rows x 6 columns]

In [ ]:
df.rename(index=str.upper)

                Population       GDP  Surface Area    HDI Continent Language
CANADA              35.467   1785387       9984670  0.913   America  English
FRANCE              63.951   2833687        640679  0.888    Europe  English
GERMANY             80.940   3874437        357114  0.916    Europe  English
ITALY               60.665   2167744        301336  0.873    Europe  English
JAPAN              127.061   4602367        377930  0.891      Asia  English
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe  English
UNITED STATES      318.523  17348075       9525067  0.915   America  English

In [ ]:
df.rename(index=lambda x: x.lower())

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America  English
france              63.951   2833687        640679  0.888    Europe  English
germany             80.940   3874437        357114  0.916    Europe  English
italy               60.665   2167744        301336  0.873    Europe  English
japan              127.061   4602367        377930  0.891      Asia  English
united kingdom      64.511   2950039        242495  0.907    Europe  English
united states      318.523  17348075       9525067  0.915   America  English

In [ ]:
df.drop(columns='Language', inplace=True)    #dropping columns

In [ ]:
#adding values
df.append(pd.Series({
    'Population': 3,
    'GDP': 5
}, name='China'))

#append returns a new DataFrame

                Population         GDP  Surface Area    HDI Continent
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America
China                3.000         5.0           NaN    NaN       NaN

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
# you can directly set the new index and values to the DataFrame
df.loc['China'] = pd.Series({'Population': 1_400_000_000, 'Continent': 'Asia'})

In [ ]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
China           1.400000e+09         NaN           NaN    NaN      Asia

## Creating columns from other columns

In [ ]:
df[['Population', 'GDP']]

                  Population         GDP
Canada          3.546700e+01   1785387.0
France          6.395100e+01   2833687.0
Germany         8.094000e+01   3874437.0
Italy           6.066500e+01   2167744.0
Japan           1.270610e+02   4602367.0
United Kingdom  6.451100e+01   2950039.0
United States   3.185230e+02  17348075.0
China           1.400000e+09         NaN

In [ ]:
df['GDP'] / df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
China                      NaN
dtype: float64

In [ ]:
df['GDP Per Capita'] = df['GDP'] / df['Population']
df

                  Population         GDP  ...  Continent  GDP Per Capita
Canada          3.546700e+01   1785387.0  ...    America    50339.385908
France          6.395100e+01   2833687.0  ...     Europe    44310.284437
Germany         8.094000e+01   3874437.0  ...     Europe    47868.013343
Italy           6.066500e+01   2167744.0  ...     Europe    35733.025633
Japan           1.270610e+02   4602367.0  ...       Asia    36221.712406
United Kingdom  6.451100e+01   2950039.0  ...     Europe    45729.239975
United States   3.185230e+02  17348075.0  ...    America    54464.120330
China           1.400000e+09         NaN  ...       Asia             NaN

[8 rows x 6 columns]

## Statistical info

In [ ]:
df.head()

         Population        GDP  Surface Area    HDI Continent  GDP Per Capita
Canada       35.467  1785387.0     9984670.0  0.913   America    50339.385908
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343
Italy        60.665  2167744.0      301336.0  0.873    Europe    35733.025633
Japan       127.061  4602367.0      377930.0  0.891      Asia    36221.712406

In [ ]:
df.describe()

         Population           GDP  Surface Area       HDI  GDP Per Capita
count  8.000000e+00  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   1.750001e+08  5.080248e+06  3.061327e+06  0.900429    44952.254576
std    4.949747e+08  5.494020e+06  4.576187e+06  0.016592     6954.983875
min    3.546700e+01  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%    6.312950e+01  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%    7.272550e+01  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    1.749265e+02  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    1.400000e+09  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [ ]:
population = df['Population']

In [ ]:
population.min(), population.max()

(35.467, 1400000000.0)

In [ ]:
population.sum()

1400000751.118

In [ ]:
population.sum() / len(population)

175000093.88975

In [ ]:
population.mean()

175000093.88975

In [ ]:
population.std()

494974708.8934035

In [ ]:
population.median()

72.7255

In [ ]:
population.describe()

count    8.000000e+00
mean     1.750001e+08
std      4.949747e+08
min      3.546700e+01
25%      6.312950e+01
50%      7.272550e+01
75%      1.749265e+02
max      1.400000e+09
Name: Population, dtype: float64

In [ ]:
population.quantile(.25)

63.1295

In [ ]:
population.quantile([.2, .4, .6, .8, 1])

0.2    6.197940e+01
0.4    6.439900e+01
0.6    9.016420e+01
0.8    2.419382e+02
1.0    1.400000e+09
Name: Population, dtype: float64